[Unit]
Description=X Service
After=network.target

[Service]
Type=simple
Restart=always
ExecStart=/root/where-am-i --port 88 --password

[Install]
WantedBy=multi-user.target